.formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  border-radius: 5px;
  /* background-color: var(--light-gray); */
}
.formulaire .inputs {
  /* border: solid 1px var(--gray); */

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.formulaire .inputs .inputGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
  width: 290px;

  text-align: left;
}
label {
  margin-left: 3.5em;
  font-weight: 600;
  color: var(--gray);
  font-size: 13px;
  align-self: start;
  white-space: nowrap;
}

input,
textarea {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgb(0 0 0 / 20%);
  border: 1px solid var(--light-gray);
  padding: 0.8em;
  font-size: 13px;
  outline: none;
  width: 230px;
  box-sizing: border-box;
  font-weight: 500;
}
textarea {
  padding: 1em;
  height: 45px;
  max-height: 60%;
  min-width: 80%;
  min-height: 40px;
}
.css-b62m3t-container,
.css-3iigni-container {
  font-size: 12px;
  width: 230px;
  white-space: nowrap;
  font-weight: 500;
}
.css-1ow3sjv-control {
  box-shadow: 0px 1px 4px rgb(0 0 0 / 20%) !important;
}

.formulaire .buttons {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin: 1em;
}
.formulaire .buttons .formBtn {
  background-color: var(--white);
  box-shadow: 0px 1px 4px rgb(0 0 0 / 20%);

  border-radius: 5px;
  border: none;
  padding: 0.6em 1.5em;
  font-size: 13px;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  color: var(--gray);
}
.formulaire .buttons .formBtn:hover {
  background-color: rgba(211, 211, 211, 0.3);
  box-shadow: 0px 1px 4px rgb(0 0 0 / 30%);
  color: black;
}
.formulaire .buttons .formBtn:last-of-type {
  background-color: var(--orange);
  color: white;
}

.error-message {
  background-color: var(--error);
  color: var(--white);
  font-size: 13px;
  font-weight: 600;
  padding: 0.5em 1.5em;
  animation: slide-in 0.3s ease-out;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.input-error {
  color: var(--error);
  /* color: var(--white); */
  font-size: 9px;
  font-weight: 600;
  animation: slide-in 0.3s ease-out;
  width: 210px;
  text-align: right;
  gap: 0.5em;
}

.success-message {
  background-color: var(--success);
  color: var(--white);
  font-size: 13px;
  font-weight: 600;
  padding: 0.5em 1.5em;
  animation: slide-in 0.3s ease-out;
  display: flex;
  align-items: center;
  gap: 0.5em;
  border-radius: 5px;
}
@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
