.formulaire {
  padding: 6em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}
.formulaire .inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5em;
}
.formulaire .inputs .inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  width: 290px;

  text-align: left;
}
.formulaire .inputs .inputGroup label {
  margin-left: 0.5em;
  font-weight: 500;
  color: var(--gray);
}

.formulaire .inputs .inputGroup input,
.formulaire .inputs .inputGroup textarea {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgb(0 0 0 / 10%);
  border: 1px solid var(--light-gray);
  padding: 0.6em;
  font-size: 15px;
  outline: none;
}
.formulaire .inputs .inputGroup .select {
}

.formulaire .buttons {
  display: flex;
  gap: 1em;
  align-items: center;
}
.formulaire .buttons .formBtn {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgb(0 0 0 / 10%);
  border: 1px solid var(--light-gray);
  padding: 0.6em 1em;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  color: var(--gray);
}

.formulaire .listTitle {
  margin-bottom: 1.5em;
  padding: 1em;
  font-weight: 800;
  text-transform: capitalize;
  text-align: center;
  background-color: var(--light-gray);
  letter-spacing: 1px;
  width: 100%;
}

.error-message {
  background-color: var(--error);
  color: var(--white);
  font-size: 13px;
  font-weight: 600;
  padding: 0.5em 1.5em;
  animation: slide-in 0.3s ease-out;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.success-message {
  background-color: var(--success);
  color: var(--white);
  font-size: 13px;
  font-weight: 600;
  padding: 0.5em 1.5em;
  animation: slide-in 0.3s ease-out;
  display: flex;
  align-items: center;
  gap: 0.5em;
  border-radius: 5px;
}
@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
