.gestionMissions {
  display: flex;
  margin: 6em 2.5em 3.5em 2.5em;
  flex-direction: column;

  justify-content: center;
}
.gestionMissions .elements {
  margin-top: 3em;
  display: flex;

  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2em;
}
.gestionMissions .formGM {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;

  padding: 2.2em;
  min-width: 500px;

  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

.gestionMissions .formGM .pageNum {
}

.gestionMissions .formGM .formTitle {
  font-weight: 800;
  text-align: center;
  margin-bottom: 2em;
}
.gestionMissions .formGM .inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
.gestionMissions .formGM .inputs .inside {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}
.gestionMissions .formGM .inputs .inside div {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.gestionMissions .formGM .inputs p {
  font-weight: 500;
  color: var(--gray);
}
.gestionMissions .formGM .inputs .outside {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}
.gestionMissions .formGM .buttons {
  display: flex;
  gap: 0.5em;
}
.gestionMissions .listeGM {
  position: sticky;
  top: 2em;
  flex: 1;
  /* padding-top: 1.2em;  flex: 1; */
  background-color: white;
  border-radius: 5px;
  height: 90vh;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}
