@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --black: #090909;
  --orange: #ff8500;
  --light-orange: #ff8400ec;
  --white: white; /**#f9f9f9*/
  --light-gray: rgb(245, 241, 241);
  --gray: #606060;
  --dark-gray: #b6acac;
}
body {
  color: var(--black) !important;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
/*____________________________________________________*/
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--light-gray);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-gray);
  border-radius: 10px;
}
/* style horizontal scrollbar */
.scrollable::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

.scrollable::-webkit-scrollbar-x {
  height: 10px;
}

.scrollable::-webkit-scrollbar-thumb:horizontal {
  background-color: #888;
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-track:horizontal {
  background-color: #f1f1f1;
}
/*_________________________________________________*/
.link {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 12px;
}

.btn {
  background-color: white;
  outline: none;
  border: solid 1px var(--light-gray);
  border-radius: 5px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 1em;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--light-gray);
}
.icon {
  font-size: 17px;
}

.icn {
  font-size: 17px !important;
}

input,
textArea,
select {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--gray);
}
