@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}
:root {
  --black: #090909;
  --orange: #ff8500;
  --light-orange: #ff8400ec;
  --white: white; /**#f9f9f9*/
  --light-gray: rgb(245, 241, 241);
  --gray: #606060;
  --dark-gray: #b6acac;
  --success: rgba(0, 154, 73, 0.7);
  --error: #ed4337;

  /**SONATRACH*/
  --orange1: #fcc288;
  --orange2: #fee9d3;
  --orange3: #fef9f3;

  --gray1: #72959f;
  --gray2: #ccdade;
  --gray3: #f1f5f5;

  --blue1: #a4ddec;
  --blue2: #ddf2f7;
  --blue3: #f6fbfc;

  --green1: #86cca8;
  --green2: #d2eade;
  --green3: #f2f9f5;
  --green4: #b2d8b2;

  --red1: #ffdcdc;
  --red2: #e98a8a;
}
body {
  color: var(--black) !important;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
/*____________________________________________________*/

/*_________________________________________________*/
.link {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 12px;
}

.btn {
  background-color: white;
  outline: none;
  border: solid 1px var(--light-gray);
  border-radius: 5px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 1em;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--light-gray);
}

.closePopup {
  position: fixed;
  z-index: 997;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.164);
}

.icon {
  font-size: 17px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: var(--gray);
}

.icn {
  font-size: 17px !important;
  cursor: pointer;
}

input,
textArea,
select {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--gray);
}

.accept,
.send {
  background-color: var(--green2) !important;
}
.accept:hover,
.send:hover {
  background-color: var(--green4) !important;
}

.refuse,
.delete {
  background-color: var(--red1) !important;
}

.refuse:hover,
.delete:hover {
  background-color: var(--red2) !important;
}

.cancel,
.update {
  background-color: var(--blue3) !important;
}

.cancel:hover,
.update:hover {
  background-color: var(--blue2) !important;
}

.acceptée,
.accepté,
.refusée,
.refusé,
.annulée,
.annulé,
.en-attente,
.créé {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
  font-size: 13px !important;
}

.acceptée,
.accepté {
  color: #008000 !important;
}
.refusée,
.refusé {
  color: #ff0000 !important;
}
.annulée,
.annulé {
  color: #408dda !important;
}

.en-attente,
.créé {
  color: var(--light-orange) !important;
}

/**_____________________________________________________________________________________*/
/* ScrollBar.css */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--light-gray);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(211, 211, 211, 0.411);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: lightgrey;
}
