.menuBar {
  position: absolute;
  top: 2em;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--white);
  transition: all 0.8s ease-in-out;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 3em 2em 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.menuBar li {
  margin-left: 7%;
}
.menuBar li .a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: right;
  padding: 0 1em;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.5em 1.5em 1.5em 2.5em;
}

.menuBar .a:hover {
  background-color: rgba(211, 211, 211, 0.432) !important;
  padding-left: 4em;
  transition: all 0.8s ease-in-out;
}
