.gestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 7em;
  height: 88vh;
}

@media screen and (max-width: 700px) {
  .gestion {
    padding: 1em 2em;
  }
}

.listTitle {
  font-weight: 700;
  text-transform: uppercase;
  text-align: left !important;
  padding: 0 1em;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  border-left: solid 4px var(--gray);
  border-right: solid 4px var(--gray);
  font-size: 18px;

  margin-bottom: 10px;

  color: var(--gray);
}
/*___________________________________________________________________________________*/
/* GESTION TICKETS */
.noc-missions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* Adjust the height according to your needs */
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.noc-message {
  font-size: 15px;
  font-weight: 400;
  color: #333;
  text-align: center;
  padding: 20px;
}
.tickets {
  margin: 2em 3em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}
.addTicketIcon {
  align-self: flex-end;
  padding: 0.5em;
  /* border: solid 1px var(--dark-gray); */
  border-radius: 50px;
  margin: 0 0.5em;
  background-color: white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: sticky;
  z-index: 3;
  top: 3em;
}

.addTicketIcon:focus,
.addTicketIcon:hover {
  background-color: var(--orange1);
  /* border-color: var(--orange1); */
  color: white;
  outline: none;
}

/* .flex {
  display: flex;
  flex-direction: column;
  width: 100%;
} */

.hideUnder {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.486);
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 1;
}
