.gestion .elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10em;
  margin: 3em;
}
.listTitle {
  font-weight: 700;
  text-transform: uppercase;
  text-align: left !important;
  padding: 0 1em;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  border-left: solid 4px var(--gray);
  border-right: solid 4px var(--gray);
  font-size: 18px;

  margin-bottom: 10px;

  color: var(--gray);
}
/*___________________________________________________________________________________*/
