.gestion .elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10em;
  margin: 4em;
}
/*___________________________________________________________________________________*/
