.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.progIcon {
  color: var(--orange) !important;
}

.loading-screen__text {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin-top: 1rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
