.planning {
  /* text-align: center; */
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planning-btn {
  background-color: var(--white) !important;
  color: var(--black) !important;
  border: none;
  outline: none;
  cursor: pointer;
}

.planning .departmentName {
  font-size: 13px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 1.5em;
}

.tab {
  width: 100%;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  padding: 0 0;
}

.tab .schedule-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1.5em;
}

.tab .schedule-head p {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif !important;
}

.tab .planning-table {
  border-collapse: collapse;
  position: relative;
  width: 100%;
}

.tab .planning-table .planning-thead {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
.tab .planning-table .planning-thead .planning-th {
  text-align: center;
  padding: 0.5em 1em;
  font-size: 10px;
  font-weight: 600;
  background-color: var(--white);
}
/***_______________________________________________________________________________________________*/

.tab .planning-table .planning-tbody .planning-tbody-row {
  height: 1em;
  border: solid 1px var(--light-gray);
}

.tab .planning-table .planning-tbody-td {
  border: solid 1px var(--light-gray);
}

.planning
  .planning-table
  .planning-tbody
  .planning-tbody-row
  .planning-tbody-td-res {
  padding: 0.5em 1em;
  font-size: 11px;
  background-color: var(--blue3);
  font-weight: 500;
  text-transform: capitalize;
}
.planning
  .planning-table
  .planning-tbody
  .planning-tbody-row
  .planning-mission {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-right: solid 1px var(--light-gray);
}

.search-container,
.filter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-container .label,
.filter-container .label {
  text-align: left;
  color: var(--gray);
  font-weight: 600;
  font-size: 11px;
  padding-left: 0.5em;
  margin: 0.3em;
}

.search-box,
.select-filter {
  width: 150px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px;
  background-color: #fff;
  font-size: 11px !important;
  color: #333;
  padding: 0.3em 1em !important;
  box-shadow: none;
}

.search-box:focus,
.select-filter:focus {
  outline: none;
  /* box-shadow: 0 0 0 2px var(--orange3); */
}

.planning-control {
  display: flex;
  width: 90vw;
  justify-content: flex-end;
  gap: 1em;
}
.current-day {
  border: solid 1px black;
}
