.planning {
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planning .departmentName {
  font-weight: 800;
}
.planning .planningTitle {
  font-weight: 600;
  font-size: 13px;
}

.tab {
  width: 95vw;
  border-radius: 5px;
  text-align: left;
  margin-bottom: 3em;
}

.tab .schedule-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1.5em;
}

.tab .schedule-head button {
  outline: none;
  border: solid 1px var(--light-gray);
  background-color: var(--white);
  font-size: 15px;
  font-family: "Montserrat", sans-serif !important;

  font-weight: 500;
  text-transform: lowercase;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
.tab .schedule-head button:hover {
  background-color: var(--orange1);
}
.tab .schedule-head p {
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif !important;
}

.tab .planning-table {
  border-collapse: collapse;
  position: relative;
}

.tab .planning-table .planning-thead {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
.tab .planning-table .planning-thead .planning-th {
  text-align: center;
  padding: 0.5em 1em;
  font-size: 13px;
  font-weight: 600;
  background-color: var(--blue3);
}
.tab .planning-table .planning-trow {
}

/***_______________________________________________________________________________________________*/

.tab .planning-table {
}
.tab .planning-table .planning-tbody {
}
.tab .planning-table .planning-tbody .planning-tbody-row {
  height: 2em;
  border: solid 1px var(--light-gray);
}
.planning
  .planning-table
  .planning-tbody
  .planning-tbody-row
  .planning-tbody-td-res {
  padding: 0.5em 1em;
  font-size: 14px;
  background-color: var(--blue3);
  border: solid 1px white;
}
.planning
  .planning-table
  .planning-tbody
  .planning-tbody-row
  .planning-mission {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
