.planning {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2em;
  gap: 0.5em;
}

.planning .departmentName {
  font-weight: 800;
}
.planning .planningTitle {
  font-weight: 600;
  font-size: 13px;
}

.planning .schedule {
  width: 90vw;
  height: 80vh;
  border: solid 0.5px var(--light-gray);
  border-radius: 5px;
  margin: 0.5em 1em 1.5em;

  background-color: var(--white);
}
.planning .schedule .months {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-bottom: solid 0.5px var(--light-gray);

  font-weight: 600;
}
.planning .schedule .days {
  height: 70vh;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  font-weight: 400 !important;
  align-items: flex-start;
}
.calendar {
  display: flex;
  gap: 1em;
  width: 90vw;
  height: 80vh;
  border-radius: 5px;
  margin: 0.5em 1em 1.5em;

  background-color: var(--white);
  overflow: scroll;
}

.calendar .element {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.calendar .element .title {
  display: flex;
}
.calendar .element .title .day {
  padding: 0 1em;
}

.calendar .miss .jours {
  display: flex;
  justify-content: space-evenly;
  width: 700px;
  gap: 0.5em;

  font-weight: 600;
  font-size: 12px;
}

.row {
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.row .mission {
  padding: 0.5em;
}
.calendar .element .postElement {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly !important;

  padding: 0.5em 0;
  align-items: center;
}
