.liste {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
}

.liste .listTitle {
  font-weight: 800;
  text-transform: lowercase;
}
.liste .outils {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}
select {
  border: none;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: var(--gray);
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

select:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}
 
.liste .rows {
  list-style: none;
  overflow-y: scroll;
  width: 100%;
  min-width: 300px;
  padding: 0;
}
.liste .rows li {
  border-bottom: solid 1px var(--light-gray);
  margin: 0 1em;
}
