.addTicketForm {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin: 2em auto;
  border: 1px solid #ccc;
  padding: 20px;
  width: 500px !important;
  max-width: 60%;
  background-color: #f5f5f5;

  position: sticky;
  z-index: 5;
  top: 7em;
}
.field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.input-field,
.field textarea {
  width: 100%;
  max-width: 100% !important;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none; /* Remove the default outline */
  box-shadow: none;
}

button {
  padding: 10px 20px;
  background-color: #f89406;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  outline: none; /* Remove the default outline */
}

button:hover {
  background-color: #e98b03;
}

.field .input-field,
.field .textarea-field {
  border: 1px solid #ddd;
  background-color: #fff;
}

.field .input-field:focus,
.field .textarea-field:focus {
  border-color: var(--orange1);
}

.field .label-field {
  margin-left: 1em;
  margin-bottom: -0.5em;
  font-weight: 600;
  color: var(--gray);
  font-size: 13px;
  align-self: start;
  white-space: nowrap;
  z-index: 2;
  background-color: #f5f5f5;
  padding: 0.1em 1em;
  border-radius: 50px;
}

.addTicketForm .form-title {
  font-weight: 600;
  color: var(--gray);
  font-size: 18px;
  margin-bottom: 1em;
  background-color: #f5f5f5;
}
