/* Light Blue (#B2EBF2) or Light Green (#C8E6C9) 
Light Pink (#F8BBD0) or Light Orange (#FFE0B2) */

.bhigh {
  background-color: #f8bbd0;
}

.glow {
  background-color: #b2ebf2;
}

.ghigh {
  background-color: #c8e6c9;
}
