.seticon {
  position: fixed;
  top: 3em;
  right: 0.5em;
  z-index: 999;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 30px;
  padding: 0.3em;
}

.settings {
  position: fixed;
  top: 4.5em;
  right: 3.5em;

  z-index: 997;
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  transition: all 0.5s ease-in-out;
}

.settings .settings-title {
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 600;
  max-width: 80%;
  text-align: left;
}
.settings .settings-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
}
.settings .settings-container .setting-box {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;

  padding: 1em;
  margin: 0 !important;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  transition: all 0.5s ease-in-out;
}
.settings .settings-container .setting-box .setting-box-title {
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 600;
  white-space: nowrap;
}

.settings .settings-container .setting-box .chart-buttons,
.settings .settings-container .setting-box .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.settings .settings-container .setting-box .chart-buttons .chart-btn,
.settings .settings-container .setting-box .links .link {
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  outline: none;
  font-size: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in;
  text-transform: uppercase;
  border: solid 0.5px gray;
  padding: 0.5em 1em;
  color: var(--gray);
}
.settings .settings-container .setting-box select {
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  outline: none;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in;
  text-transform: uppercase;
  border: solid 0.5px gray;
  padding: 0.5em 1em;
  color: var(--gray);
}
.settings .settings-container .setting-box .chart-buttons .chart-btn:hover,
.settings .settings-container .setting-box .links .link:hover {
  background-color: var(--light-gray);
  color: var(--black);
}
.settings .settings-container .setting-box .chart-buttons .btn-active {
  background-color: var(--gray);
  color: white;
}
