.popup {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: fixed;
  z-index: 998;
  background-color: var(--white);
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(70, 69, 69, 0.034);
  transition: all 0.5s ease-in-out;
  padding: 3em;
  overflow-y: auto;
  /*overflow-y: auto;
  transition: all 0.5s ease-in-out;
  white-space: nowrap;
 
  */
}
/*--------------------------------------------------*/

.titre {
  text-transform: uppercase;
  color: var(--black);
  font-size: 18px;
  font-weight: 800;
}

.popup-db .db-body {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}
.popup-db .db-body .db-date {
  text-align: left;
}

.popup-db .logo-image {
  height: 70px;
  width: 60px;
  flex: 1;
}

.popup-db .db-subtitle {
  text-decoration: underline;
  font-weight: 500;
  text-transform: capitalize;
}
/*--------------------------------------------------*/
.popup-dm,
.popup-refuse {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  /* border: solid 1px var(--light-gray); */
  top: 15%;
  left: 20%;
  right: 20%;
  bottom: 15%;
  font-size: 13px;
}

/*--------------------------------------------------*/

.popup-om {
  padding: 2em;
}
.popup-om .om-head {
  display: flex;
  align-items: center;
  gap: 1em;
}

.popup-om .head-img {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  text-align: left;
}
.popup-om .head-img .logo {
  height: 60px;
}

.popup-om .om-direction,
.popup-om .om-identificateur {
  font-size: 11px;
  font-weight: 700;
}

.popup-om .official {
  flex: 3;
  font-weight: 800;
  font-size: 12px;
}

.om-body {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 0.5em;
  padding: 0 5em;
}

.om-label-line {
  display: flex;
  gap: 1em;
  white-space: nowrap;
  font-size: 12px;
}

.om-label {
  font-weight: 600;
  flex: 1;
  text-transform: capitalize;
}
.om-content {
  flex: 3;
}
.popup-om .om-signature {
  text-align: left;
  margin-top: 3em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0 3em;
}

.generate-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
/*--------------------------------------------------*/

.popup-refuse .pop-ref {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  /* background-color: #555555; */
  height: 50vh;
  padding: 0 3em;
}
.popup-refuse .pop-ref textarea {
  width: 100%;
  max-width: 100%;
}

.popup-refuse .pop-ref .title {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}
.popup-refuse .pop-ref button {
  align-self: flex-end;
}
/*---------------------------------------------------*/
.state {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  background-color: #f8f8f8;
  padding: 0.5em;
  white-space: nowrap;

  text-overflow: ellipsis;
}
.state .etat {
  display: flex;
  gap: 1em;
}
.popup-dc .dc-head {
  display: flex;
  align-items: center;
  margin: 0 3em 3em;
}
.dc-body {
  margin-left: 3em;
  margin-bottom: 2em;
}
.popup-dc .dc-head .title {
  flex: 3;
}
.popup-dc .dc-head .logo {
  height: 60px;
}
.popup-dc .dc-head .dc-head-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 1em;
  font-weight: 500;
  font-size: 12px;
}
/*---------------------------------------------------*/

.popup-user {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  top: 13%;
  left: auto;
  right: 1.5em;
  bottom: 3em;
  width: 370px;
  font-size: 13px;
  /* overflow: hidden; */
}
/*---------------------------------------------------*/
.popup-mission,
.popup-dc,
.popup-db,
.popup-om,
.popup-update {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5em;
  /* border: solid 1px var(--light-gray); */
  top: 13%;
  left: 3em;
  right: 3em;
  bottom: 3em;
  font-size: 13px;
}

.popup-mission .head h3 {
  text-transform: uppercase;
}
.taches {
  display: grid;
  grid-gap: 10px;
}

.taches .tile,
.employes .tile,
.popup-mission .plus {
  font-weight: 600 !important;
  font-size: 1.2em;
  color: #333333;
  margin-bottom: 10px;
  border-left: solid 4px #333333;
  padding-left: 0.5em;
}
.employes {
  margin-top: 20px;
}

.employes .employe {
  display: inline-block;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 8px 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 0.9em;
  color: #666666;
}

.employes .employe:last-child {
  margin-right: 0;
}

.employes .employe:hover {
  background-color: #eaeaea;
  cursor: default;
}

.tache {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tache .content {
  flex: 1;
  margin-right: 10px;
}

.tache .MuiCheckbox-root {
  color: #555555;
}

.tache:nth-child(even) {
  background-color: #f8f8f8;
}

.info-creation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.info-creation .itemDiv {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left !important;
}

.info-creation .item-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.info-creation .item-content {
  color: #555555;
}

.info-last .itemDiv {
  background-color: #f8f8f8;
}

/*---------------------------------------------------*/

.popup-update span,
.popup-mission span,
.popup-dm span,
.popup-db span {
  font-weight: 600;
  margin-right: 1em;
}
.popup-update .direction {
  display: flex;
  justify-content: space-around;
}
.popup-update .direction .identificateur {
  font-size: 11px;
}
.popup-update .infoEmploye,
.popup-update .infoMission .dates {
  border: solid 1px var(--gray);
  padding: 1.5em;
}
.popup-update .infoEmploye {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}
.popup-update .infoMission {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}
.popup-update .infoMission .objetMission,
.popup-update .infoMission .itineraire {
  margin-left: 1.5em;
}
.popup-update .infoMission .dates {
  text-align: left;
}
.popup-update .infoMission .dates .dateContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8em;
  margin-top: 1em;
  font-weight: 500;
  font-size: 14px;
}
.popup-update .subTitle {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}
.popup-update .instruction {
  font-size: 11px;
  font-weight: 500;
  font-style: italic;
}

.popup-update .infoMission .deroulement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  margin: 2em 0;
}
.popup-update .infoMission .moyens {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
  padding: 1.5em;
  white-space: nowrap;
}
/*  */

.title {
  text-transform: uppercase;
  color: var(--black);
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 3em;
  text-align: center;
}
.popup-update .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.popup button {
  background-color: var(--white);
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--black);
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
  width: 100px;
  outline: none;
  text-transform: capitalize;
  padding: 1em 0;
}

.popup button:hover {
  background-color: var(--light-gray);
}

.popup button:focus {
  background-color: var(--gray);
  color: white;
}

/*________________________________________________*/
.popup-survey {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  position: fixed;
  z-index: 998;
  background-color: var(--white);
  box-shadow: 0 0 0 2px rgba(70, 69, 69, 0.034);
  transition: all 0.5s ease-in-out;

  border-radius: 10px;
  padding: 20px;
  /* border: solid 1px var(--light-gray); */
  top: 15%;
  left: 20%;
  right: 20%;
  bottom: 15%;
}

.popup-survey .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: initial;
}
.popup-dm .title {
  white-space: initial;
}

.popup-survey .popup-survey-content,
.popup-dm .content {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.popup-dm .content {
  padding: 1em;
  margin-top: 1em;
}
.popup-survey .feedback-option {
  background-color: #f5f5f5;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  outline: none;
  border: none;
}

.popup-survey .feedback-option:hover {
  background-color: #e2e2e2;
}

.popup-survey .note {
  font-size: 14px;
  text-align: center;
  color: #999;
}

.pop-input {
  border: none;
  padding: 0 0 0 1em;
  box-shadow: none;
}

/*___________________________________________*/

.popup-user .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.popup-user .om-label-line {
  margin-bottom: 10px;
}

.popup-user .om-label {
  color: var(--gray);
}

.popup-user .edit-box {
  display: flex;
  justify-content: space-between;
}

.popup-user .icon {
  font-size: 20px;
}
.popup-user .user-form-box {
  display: flex !important;
  gap: 1em;
  align-items: center;
}

.popup-user .user-form-box button {
  padding: 0 0.3em;
  border: 0;
  box-shadow: none;
}
.popup-user .user-form-box button:hover {
  background-color: var(--green4);
}
.popup-user .user-form-box .user-input-box {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.popup-user .user-form-box .user-input-box input,
.popup-user .user-form-box .user-input-box .select {
  width: 210px;
  /* height: 30px; */
}
