.popup {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: fixed;
  z-index: 998;
  background-color: var(--white);
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(70, 69, 69, 0.034);
  overflow-y: auto;
  transition: all 0.5s ease-in-out;
  white-space: nowrap;
  overflow-x: scroll;
  padding: 3em;
}
/*--------------------------------------------------*/

.titre {
  text-transform: uppercase;
  color: var(--black);
  font-size: 18px;
  font-weight: 800;
}

.popup-db .db-body {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}
.popup-db .db-body .db-date {
  text-align: left;
}

.popup-db .logo-image {
  height: 70px;
  width: 60px;
  flex: 1;
}

.popup-db .db-subtitle {
  text-decoration: underline;
  font-weight: 500;
  text-transform: capitalize;
}
/*--------------------------------------------------*/
.popup-dm,
.popup-refuse {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  /* border: solid 1px var(--light-gray); */
  top: 15%;
  left: 20%;
  right: 20%;
  bottom: 15%;
  font-size: 13px;
}

/*--------------------------------------------------*/

.popup-om {
  padding: 2em 5em;
}
.popup-om .om-head {
  display: flex;
  align-items: center;
  gap: 1em;
}

.popup-om .head-img {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  text-align: left;
}
.popup-om .head-img .logo {
  height: 60px;
}

.popup-om .om-direction,
.popup-om .om-identificateur {
  font-size: 11px;
  font-weight: 700;
}

.popup-om .official {
  flex: 3;
  font-weight: 800;
  font-size: 12px;
}

.om-body {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 0.5em;
}

.om-label-line {
  display: flex;
  gap: 1em;
  font-size: 12px;
}

.om-label {
  font-weight: 600;
  flex: 1;
  text-transform: capitalize;
}
.om-content {
  flex: 3;
}
.popup-om .om-signature {
  text-align: left;
  margin-top: 3em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.popup-om .om-foot {
}

/*--------------------------------------------------*/

.popup-refuse .pop-ref {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
/*---------------------------------------------------*/
.state {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  background-color: var(--light-gray);
  padding: 0.5em;
}
.state .etat {
  display: flex;
  gap: 1em;
}
.popup-dc .dc-head {
  display: flex;
  align-items: center;
  margin: 0 3em 3em;
}
.dc-body {
  margin-left: 3em;
  margin-bottom: 2em;
}
.popup-dc .dc-head .title {
  flex: 3;
}
.popup-dc .dc-head .logo {
  height: 60px;
}
.popup-dc .dc-head .dc-head-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 1em;
  font-weight: 500;
  font-size: 12px;
}
/*---------------------------------------------------*/

.popup-user {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  top: 13%;
  left: auto;
  right: 2em;
  bottom: 3em;
  width: 350px;
  font-size: 13px;
}
/*---------------------------------------------------*/
.popup-mission,
.popup-dc,
.popup-db,
.popup-om,
.popup-update {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5em;
  /* border: solid 1px var(--light-gray); */
  top: 13%;
  left: 3em;
  right: 3em;
  bottom: 3em;
  font-size: 13px;
}

.popup-mission .employes,
.popup-mission .taches,
.popup-mission .deplacement,
.popup-mission .info-creation,
.popup-mission .info {
  padding: 1em;
  text-align: left;
  border-radius: 2px;
}
.popup-mission {
  padding: 4em;
}
.popup-mission .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  text-align: left;
  padding: 1em;
}

.popup-mission .info {
  display: flex;
  align-items: flex-start;
  align-items: center;
  gap: 2em;
  justify-content: space-between;
  flex-wrap: wrap;
  border: solid 1px black;
  padding: 1em;
}
.popup-mission .info * {
  flex: 1;
  margin-top: 0.5em;
}
.popup-mission .info .info-mission,
.popup-mission .info .info-budget {
  text-align: left;
}
.popup-mission .employe {
  margin: 1em 1em;
}

.popup-mission .deplacement {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.popup-mission .tache {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  gap: 3em;
  padding: 1em;
  white-space: normal;
  border: solid 1px var(--light-gray);
  box-shadow: 0px 1px 4px rgb(0 0 0 / 10%);
}
.popup-mission .tache .content {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
}
.popup-mission .info-creation {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border: solid 1px black;
  padding: 1em;
}

.popup-mission .info-creation .crea-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.popup-mission .info-creation .crea-container div {
  flex: 1;
}
/*---------------------------------------------------*/

.popup-update span,
.popup-mission span,
.popup-dm span,
.popup-db span {
  font-weight: 600;
  margin-right: 1em;
}
.popup-update .direction {
  display: flex;
  justify-content: space-around;
}
.popup-update .direction .identificateur {
  font-size: 11px;
}
.popup-update .infoEmploye,
.popup-update .infoMission .dates {
  border: solid 1px var(--gray);
  padding: 1.5em;
}
.popup-update .infoEmploye {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}
.popup-update .infoMission {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}
.popup-update .infoMission .objetMission,
.popup-update .infoMission .itineraire {
  margin-left: 1.5em;
}
.popup-update .infoMission .dates {
  text-align: left;
}
.popup-update .infoMission .dates .dateContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8em;
  margin-top: 1em;
  font-weight: 500;
  font-size: 14px;
}
.popup-update .subTitle {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}
.popup-update .instruction {
  font-size: 11px;
  font-weight: 500;
  font-style: italic;
}

.popup-update .infoMission .deroulement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  margin: 2em 0;
}
.popup-update .infoMission .moyens {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
  padding: 1.5em;
}
.title {
  text-transform: uppercase;
  color: var(--black);
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 3em;
  text-align: center;
}
.popup-update .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.popup button {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgb(0 0 0 / 10%);
  border: 1px solid var(--light-gray);
  padding: 0.6em 1em;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  color: var(--black);
  font-family: "Montserrat", sans-serif !important;
  transition: all 0.3s ease-in-out;
}

.popup button:hover {
  background-color: var(--red2);
}

/*________________________________________________*/
.popup-survey {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  position: fixed;
  z-index: 998;
  background-color: var(--white);
  box-shadow: 0 0 0 2px rgba(70, 69, 69, 0.034);
  transition: all 0.5s ease-in-out;

  border-radius: 10px;
  padding: 20px;
  /* border: solid 1px var(--light-gray); */
  top: 15%;
  left: 20%;
  right: 20%;
  bottom: 15%;
}

.popup-survey .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: initial;
}
.popup-dm .title {
  white-space: initial;
}

.popup-survey .popup-survey-content,
.popup-dm .content {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.popup-dm .content {
  padding: 1em;
  margin-top: 1em;
}
.popup-survey .feedback-option {
  background-color: #f5f5f5;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  outline: none;
  border: none;
}

.popup-survey .feedback-option:hover {
  background-color: #e2e2e2;
}

.popup-survey .note {
  font-size: 14px;
  text-align: center;
  color: #999;
}

.pop-input {
  border: none;
  padding: 0 0 0 1em;
  box-shadow: none;
}

/*___________________________________________*/

.popup-user .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.popup-user .om-label-line {
  margin-bottom: 10px;
}

.popup-user .om-label {
  color: var(--gray);
}
