.popup {
  display: flex;
  flex-direction: column;
  gap: 1em;
  transition: all 0.5s ease-in-out;
  position: fixed;
  z-index: 998;
  background-color: var(--white);
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(70, 69, 69, 0.034);
  overflow-y: auto;
  white-space: wrap !important;
}
/*--------------------------------------------------*/

.popup-db {
}

.popup-db .db-head {
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  border-color: var(--black);
}
.popup-db .db-head .db-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  border-bottom: solid 1px var(--black);
}
.popup-db .db-head .db-head-half {
  text-align: left;
}
.popup-db .db-head .db-head-half .titre {
  text-transform: uppercase;
  color: var(--black);
  font-size: 18px;
  font-weight: 800;
}

.popup-db .db-head .db-head-info {
  text-align: left;
}
.popup-db .db-body {
  padding: 1em;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.popup-db .db-body .db-date {
  display: flex;
}

.popup-db .db-tab {
  border-right: solid 1px var(--black);
  border-bottom: solid 1px var(--black);
}
.popup-db .db-row {
  display: flex;
}
.popup-db .db-cell {
  flex: 1;
  padding: 1em;
  border-style: solid;
  border-width: 1px 0px 0px 1px;
  border-color: var(--black);
}

.popup-db .db-subtitle {
  text-decoration: underline;
  font-weight: 500;
  text-transform: capitalize;
}
/*--------------------------------------------------*/
.popup-dm {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  /* border: solid 1px var(--light-gray); */
  top: 15%;
  left: 20%;
  right: 20%;
  bottom: 15%;
  font-size: 13px;
  padding: 1.5em;
}

.popup-dm .content {
  text-align: left;
  align-self: center;
  font-size: 15px;
}
/*--------------------------------------------------*/

.popup-refuse,
.popup-user {
  height: auto;
  width: auto;
  top: 50%;
  font-size: 15px;
  padding: 1em;
  gap: 1.5em !important;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-refuse .pop-ref {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
/*---------------------------------------------------*/
.popup-dc .direction {
  text-align: left;
  display: flex;
  justify-content: space-around;
  font-size: 11px;
  align-items: center;
}
.popup-dc .direction .dir {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  text-align: center;
}

.popup-dc .before-table {
  margin-top: 2em;
  text-align: left;
}
.popup-dc .before-table * {
  margin-bottom: 1em;
}
/*---------------------------------------------------*/
.popup-mission,
.popup-dc,
.popup-db {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  /* border: solid 1px var(--light-gray); */
  top: 13%;
  left: 3em;
  right: 3em;
  bottom: 3em;
  font-size: 13px;
  padding: 1.5em;
}
.popup-mission .employes,
.popup-mission .taches,
.popup-mission .deplacement,
.popup-mission .info-creation,
.popup-mission .info {
  padding: 1em;
  text-align: left;
  border: solid 1px lightgray;
  border-radius: 2px;
}
.popup-mission .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  text-align: left;
}

.popup-mission .info {
  display: flex;
  align-items: flex-start;
  align-items: center;
  gap: 2em;
  justify-content: space-between;
  flex-wrap: wrap;
}
.popup-mission .info * {
  flex: 1;
  padding: 0.5em 0;
}
.popup-mission .info .info-mission,
.popup-mission .info .info-budget {
  text-align: left;
}
.popup-mission .employe {
  margin: 0.5em 1em;
}

.popup-mission .deplacement {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.popup-mission .tache {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}
.popup-mission .tache .content {
  font-weight: 700;
}
.popup-mission .tache div {
  flex: 1;
}
.popup-mission .tache button {
  font-size: 12px;
}
.popup-mission .tache button:hover {
  background-color: var(--blue2);
}
.popup-mission .info .info-mission .dates {
  text-align: left;
}
.popup-mission .info-creation {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.popup-mission .info-creation .crea-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.popup-mission .info-creation .crea-container div {
  flex: 1;
}
/*---------------------------------------------------*/
.popup-update {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  /* border: solid 1px var(--light-gray); */
  top: 13%;
  left: 3em;
  right: 3em;
  bottom: 3em;
  font-size: 13px;
  padding: 1em;
}
.popup-update span,
.popup-mission span,
.popup-dm span,
.popup-dc span,
.popup-db span {
  font-weight: 600;
  margin-right: 1em;
}
.popup-update .direction {
  display: flex;
  justify-content: space-around;
}
.popup-update .direction .identificateur {
  font-size: 11px;
}
.popup-update .infoEmploye,
.popup-update .infoMission .dates {
  border: solid 1px lightgray;
  padding: 1.5em;
}
.popup-update .infoEmploye {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}
.popup-update .infoMission {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}
.popup-update .infoMission .objetMission,
.popup-update .infoMission .itineraire {
  margin-left: 1.5em;
}
.popup-update .infoMission .dates {
  text-align: left;
}
.popup-update .infoMission .dates .dateContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8em;
  margin-top: 1em;
}
.popup-update .subTitle {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}
.popup-update .instruction {
  font-size: 11px;
  font-weight: 500;
  font-style: italic;
}

.popup-update .infoMission .deroulement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  margin: 2em 0;
}
.popup-update .infoMission .moyens {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
  padding: 1.5em;
}
.title {
  text-transform: uppercase;
  color: var(--black);
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 3em;
  text-align: center;
}
.popup-update .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.popup button {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgb(0 0 0 / 10%);
  border: 1px solid var(--light-gray);
  padding: 0.6em 1em;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  color: var(--black);
  font-family: "Montserrat", sans-serif !important;
  transition: all 0.3s ease-in-out;
}

.popup button:hover {
  background-color: var(--red2);
}
