.table .search {
  outline: none;
  border: solid 1px var(--light-gray);
  border-radius: 5px;
  padding-left: 2.5em !important;
  padding: 5px;
  font-weight: 500;
  position: relative;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}
.table .listTitle {
  padding: 1em;
  font-weight: 800;
  text-transform: capitalize;
  text-align: center;
  background-color: var(--light-gray);
  letter-spacing: 1px;
}
.table .search::placeholder {
  text-transform: lowercase;
  color: var(--dark-gray);
}

.table .searchIcon {
  color: var(--dark-gray);
  font-size: 20px !important;
  z-index: 2;
}

.table .search:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}
/*_________________________________________________________________________*/

.table .control {
  padding: 0.5em 1em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*_________________________________________________________________________*/
.table select {
  border: none;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  min-width: 150px;
  color: var(--gray);
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  text-align: center;
  cursor: pointer;
}

.table select:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

/*_________________________________________________________________________*/
.table .tableContainer {
  border: solid 1px var(--light-gray) !important;
  box-shadow: none !important;
  min-height: 50vh;
}

.table .tableContainer .tableRow {
  border: solid 1px var(--light-gray) !important;
  font-weight: 700 !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 11px !important;
  height: 10px !important;
}
.table .tableContainer .tableColumn {
  font-family: "Montserrat", sans-serif !important;
  border: solid 1px var(--light-gray) !important;
  font-size: 13px !important;
  font-weight: 500 !important;
}

/*_______________________________________________________________*/
.table .pagination .MuiTypography-body2 {
  font-size: 12px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.table .pagination {
  margin: 0;
  float: right;
  font-size: 15px !important;
}

.trow {
  transition: 0.3s ease-in-out;
}

.trow:hover td:not(:last-child) {
  background-color: var(--light-gray);
  cursor: pointer;
}
.popupInfo {
  position: fixed;
  z-index: 998;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70vh;
  width: 70vw;
  /* border: solid 1px var(--light-gray); */
  background-color: var(--white);
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}
.closePopup {
  position: fixed;
  z-index: 997;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.164);
}
