.table {
  /* margin-bottom: 2em; */
  /* padding: 0 2em; */
}

.table .search {
  outline: none;
  border-radius: 5px;
  padding: 5px 0;
  font-weight: 500;
  position: relative;
  width: 100%;
  min-width: 90px;
  font-size: 13px;
  box-shadow: 0px 1px 4px rgb(0 0 0 / 10%);
}

.table .search::placeholder {
  text-transform: lowercase;
  color: var(--dark-gray);
  padding-left: 2.5em;
}

.table .searchIcon {
  color: var(--dark-gray);
  font-size: 20px !important;
  z-index: 2;
}

.table .search:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.116);
  transition: all 0.2s ease;
}
/*_________________________________________________________________________*/

.table .control {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  /* background-color: yellow; */
}

.table .control .countControl {
  font-size: 12px;
  font-weight: 600;
  color: var(--gray);
  flex: 1;
  white-space: nowrap;
}
.table .control .control-search {
  flex: 4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}
/*_________________________________________________________________________*/
.table select {
  flex: 2;
  outline: none;
  /* border: solid 1px var(--light-gray); */
  border-radius: 5px;
  /* padding-left: 2.5em !important; */
  padding: 5px 0;
  font-weight: 500;
  position: relative;
  box-shadow: 0px 1px 4px rgb(0 0 0 / 10%);
  border: 1px solid var(--light-gray);
  width: 100%;
  min-width: 90px;
  font-size: 13px;
  text-align: center;
}

.table select:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.116);
  transition: all 0.2s ease;
}
.rotate {
  transform: rotate(180deg);
}
/*_________________________________________________________________________*/
.table .tableContainer {
  box-shadow: none !important;
  height: 50vh;
  font-family: "Montserrat", sans-serif !important;
}

.table .tableContainer .tableRow {
  border: solid 1px var(--light-gray) !important;
  font-weight: 700 !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 11px !important;
  height: 10px !important;
  text-transform: capitalize;
}
.table .tableContainer .tableColumn {
  font-family: "Montserrat", sans-serif !important;
  border: solid 1px var(--light-gray) !important;
  font-size: 11px !important;
  font-weight: 500 !important;
  white-space: nowrap !important;
}

.MuiTablePagination-caption {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: var(--gray) !important;
}

/* .table .pagination {
  margin: 0;
  float: right;
  font-size: 12px !important;
} */

.trow {
  transition: 0.3s ease-in-out;
}

.trow:hover td:not(:last-child) {
  background-color: var(--blue3);
  cursor: pointer;
}
/* .popupInfo {
  position: fixed;
  z-index: 998;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70vh;
  width: 70vw; */
/* border: solid 1px var(--light-gray); */
/* background-color: var(--white);
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
} */

.bouton {
  outline: none;
  border: none;
  background-color: var(--white);
  padding: 0.7em 0.8em;
  border-radius: 5px;
  /* margin: 0.5em; */
  cursor: pointer;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
