.boiteRecherche {
  position: relative;
}
.boiteRecherche .searchInput {
  outline: none;
  border: solid 1px var(--light-gray);
  border-radius: 5px;
  padding: 0.7em 0 0.7em 3em;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}
.boiteRecherche .searchInput::placeholder {
  text-transform: lowercase;
  color: var(--dark-gray);
}

.boiteRecherche .searchIcon {
  color: var(--dark-gray);
  position: relative;
  left: 0;
  top: 0;
  z-index: 2;
  padding: 0;
  margin: 0;
  line-height: 0;
}
.boiteRecherche:hover .searchIcon {
  cursor: pointer;
}

.boiteRecherche .searchInput:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}
