.floating-bar {
  position: absolute;
  top: 3.5em;
  left: 0 !important;
  right: 0 !important;
  padding: 0 !important;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;

  list-style: none;
}

.floating-bar .link {
  padding: 0.8em 1em;
  box-shadow: 0px 1px 4px 0px rgba(180, 176, 176, 0.22);
  border-radius: 15px;
  cursor: pointer;
}

.floating-bar .link:hover {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.22);
}
 
