.suividepense {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2em 2em;
}
.suividepense p {
  font-size: 60px;
  font-weight: 900;
}
.suividepense .element {
  display: flex;
  justify-content: space-around;
}
.suividepense .element .formdepense {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 50%;
  padding: 1em 3em;
}

.suividepense .element .formdepense h1 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 1em;
  margin-left: 250px;
}
.suividepense .element .formdepense .creerdepense {
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.suividepense .element .formdepense .creerdepense Button {
  margin-top: 10em;
}

.suividepense .element .formdepense .creerdepense .iconprix .icon {
  position: relative;
  right: 9em;
}
.suividepense .element .listedepense {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 40%;
}
.suividepense .element .listedepense .search {
  margin-left: 3em;
  margin-right: 1em;
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 13px;
  padding: 1em 3em;
  width: 330px;
}
.suividepense .element .listedepense .searchicon {
  margin-left: 25em;
  position: relative;
  bottom: 30px;
}
.suividepense .element .listedepense h1 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 1em;
  margin-left: 150px;
}
.suividepense .element .listedepense .liste1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em 2em;
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 90%;
}
.suividepense .element .listedepense .liste1 {
  display: flex;
  flex-direction: row;
}
.suividepense .element .listedepense .liste1 .item1 p {
  font-size: 13px;
  font-weight: 400;
  margin-left: 1em;
}
.suividepense .element .listedepense .liste1 .item2 p {
  font-size: 13px;
  font-weight: 400;
  margin-right: 5em;
}
.suividepense .element .listedepense .liste1 .deleteicon {
  margin-right: 1em;
  margin-top: 1em;
  font-size: 150%;
}
.suividepense .element .listedepense .liste2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em 2em;
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 90%;
}
