.loginPage {
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/background2.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginPage .formL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 2em 3em;
  gap: 0.3em;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.loginPage .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  margin: 1em;
}

.loginPage .formL .formLTitle span {
  font-weight: 900;
  font-size: 30px;
  color: #ff8c00e0;
  text-transform: uppercase;
  margin-bottom: 1em;
  line-height: 0;
  margin: 1em 0 0.1em 0;
}
.loginPage .formL .formLTitle {
  font-size: 13px;
  font-weight: 600;
  color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 2em;

  /* text-transform: uppercase; */
}

.loginPage .formL .inpabel {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loginPage .formL .inpabel label {
  /* font-weight: 600; */
  font-size: 12px;
  margin-left: 1em;
  margin-bottom: 0.5em;
  /* text-transform: lowercase; */
  color: var(--gray);
}

.loginPage .formL .inpabel input {
  margin-bottom: 0.5em;
}

.loginPage .formL .inpabel input::placeholder {
  color: var(--dark-gray);
  font-weight: 400;
  font-size: 12px;
}

.loginPage .formL .LBtn {
  background-color: #ff8c00e0;

  border-radius: 5px;
  font-weight: 600;
  font-size: 11px;
  color: #ffffff;
  border: solid px var(--gray);
  padding: 0.8em 0.5em;
  align-self: flex-end;
  cursor: pointer;
  margin-top: 0.5em;
  transition: background-color 0.3s ease-in-out;
  text-transform: capitalize;
}

.loginPage .formL .LBtn:hover {
  background-color: var(--orange);
}
