.upload {
  margin: 1em 3em;
  border-radius: 10px;
  border: solid 1px var(--dark-gray);
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload .description {
  padding-bottom: 1.5em;
  font-size: 11px;
  font-weight: 500;
  color: var(--gray);
  letter-spacing: 1px;
  min-width: 200px;
  max-width: 450px;
  display: flex;
  justify-content: center;
}

.upload .upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1.5em 0;
}
.upload .file-input-container {
}

.upload .file-input {
  display: none;
}

.upload .file-input-label {
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
  background-color: var(--light-gray);
  color: #333;
  border: solid 1px var(--gray2);
  border-radius: 5px;
  cursor: pointer;
}

.upload .file-input-filename {
  display: none; /* Hide the filename initially */
  margin-top: 5px;
  font-size: 14px;
  color: #888;
}

.upload .upload-container .upload-btn {
  /* margin-right: 20px; */
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--orange);
  color: var(--white);
  font-weight: 700;

  cursor: pointer;
}
