.chart-btn {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  border: solid 2px var(--orange1);
  outline: none;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 700;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.chart-btn:hover {
  background-color: var(--orange1);
}
.chart-buttons {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
