/* .files-control-nav {
  position: fixed;
  right: 0;
  top: 40vh;
  z-index: 88;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5em;
}

.files-control-nav .hashlink {
  padding: 0.5em 0;
  padding-left: 0.5em;
  font-size: 11px;
  width: 100%;
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
  text-align: center;
  background-color: var(--red1);
  border-radius: 5px;
  transition: all 0.5s ease-out;
}

.files-control-nav .hashlink:hover {
  padding: 0.5em 1.5em;
} */

.custom-options {
  position: absolute;
  top: 1em;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  background-color: var(--orange2);
  padding: 1em;
  /* border: solid 1px var(--light-gray); */
  box-shadow: 0px 1px 4px rgb(0 0 0 / 20%);

  border-radius: 5px;
  justify-self: flex-start;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sett-div-icon {
  position: absolute;
  top: 2.5em;
  left: 1.5em;
  z-index: 89;
}

.custom-options .select {
  width: auto !important;
}
