.chart-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 2em;
}
.chart-controls .cont {
  font-size: 13px;
  font-weight: 700;
}

.chart-controls button {
  border: none;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}
.missionDashboard {
  padding: 1em;
}
/* .fcol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */

.subchart-buttons {
  margin: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.subchart-btn {
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  outline: none;
  font-size: 13px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s ease-in;
  text-transform: uppercase;
  border: solid 2px var(--orange1);
  padding: 0.5em 1em;
  color: var(--gray);
  border-radius: 30px;
}
.subchart-btn:hover {
  border: solid 2px var(--orange);
}

.missionDashboard .dash-content {
  margin: 4em 4em;
  display: grid;
  grid-auto-columns: max-content 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1em 1em;
  grid-template-areas:
    "a a a a a b b b"
    "a a a a a b b b"
    "a a a a a b b b"
    "c c c d d d e e"
    "c c c d d d f f"
    "c c c d d d g g"
    "h h h i i l l l"
    "h h h j j l l l"
    "h h h k k l l l";
  justify-content: start;
  align-content: space-around;
  justify-items: stretch;
  align-items: stretch;
}

.missionDashboard .chart {
}

.missionDashboard .box {
  padding: 2em;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgb(0 0 0 / 40%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.missionDashboard .box .card-title {
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--gray);
  z-index: 3;
  text-align: center;
}
.card-icon {
  position: absolute;
  bottom: 0.2em;
  right: 0.2em;
  font-size: 120px;
  color: var(--gray2);
  opacity: 0.5;
  z-index: 2;
}
.missionDashboard .box .number {
  font-size: 2em;
  font-weight: 800;
  color: var(--orange);
}
/* 
.missionDashboard .box canvas {
  padding: 0 2em;
} */
@media screen and (max-width: 1100px) {
  .missionDashboard .dash-content {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l";
    grid-auto-rows: initial;
    margin: 2em 6em;
  }
  .missionDashboard .box {
    max-height: 500px;
  }
}
@media screen and (max-width: 700px) {
  .missionDashboard .dash-content {
    margin: 2em 1em;
  }
}
