.chart-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 2em;
}
.chart-controls .cont {
  font-size: 13px;
  font-weight: 700;
  white-space: nowrap;
}

.chart-controls button {
  border: none;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}

.subchart-buttons {
  margin: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.subchart-btn {
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  outline: none;
  font-size: 13px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s ease-in;
  text-transform: uppercase;
  border: solid 2px var(--orange1);
  padding: 0.5em 1em;
  color: var(--gray);
  border-radius: 30px;
}
.subchart-btn:hover {
  border: solid 2px var(--orange);
}
.missionDashboard {
  margin: 0 !important;
  padding: 0 !important;
}
.missionDashboard .box {
  padding: 2em;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgb(0 0 0 / 40%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.missionDashboard .dashboard-content {
  margin: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.g11,
.g21 {
  display: flex;
  gap: 1em;
  align-content: space-around;
  justify-items: stretch;
  align-items: stretch;
}
.g11 .b1 {
  flex: 1;
  min-width: 25%;
}
.g21 .g2 {
  flex: 1;
  max-width: 75%;
  min-width: 40%;
}

.g21 .g1 {
  flex: 1;
  max-width: 35%;
  min-width: auto;
}
.all {
  flex: 1;
}
.gv {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.gv * {
  flex: 1;
}

.gtt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1em;
}
.missionDashboard .box {
}
.missionDashboard .box .btn-list {
  align-self: flex-end;
}
.missionDashboard .box .btn-list button {
  border: solid 1px var(--orange1);
  padding: 0.5em 1em;
  margin-bottom: 1em;

  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;

  background-color: var(--white);
}
.missionDashboard .box .btn-list button:hover {
  cursor: pointer;
}
.missionDashboard .box .btn-list button:first-of-type {
  border-radius: 5px 0px 0px 5px;
}
.missionDashboard .box .btn-list button:last-of-type {
  border-radius: 0px 5px 5px 0px;
}

@media screen and (max-width: 1040px) {
  .g11,
  .g21 {
    flex-direction: column;
  }

  .g21 .g2,
  .g21 .g1 {
    flex: 1;
    min-width: 25%;
    max-width: 95%;
  }
}
