.planning {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2em;
  gap: 0.5em;
}

.planning .departmentName {
  font-weight: 800;
}
.planning .planningTitle {
  font-weight: 600;
  font-size: 13px;
}

.planning .schedule {
  width: 90vw;
  height: 80vh;
  border: solid 0.5px var(--light-gray);
  border-radius: 5px;
  margin: 0.5em 1em 1.5em;

  background-color: var(--white);
}
.planning .schedule .months {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-bottom: solid 0.5px var(--light-gray);

  font-weight: 600;
}
.planning .schedule .days {
  height: 70vh;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  font-weight: 400 !important;
}

th {
  font-weight: 400;
  padding: 0.5em 1em;
  border-right: solid 1px var(--light-gray);
  border-bottom: solid 1px var(--light-gray);
}
