.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 0.8em 6.5em;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}
.profileTitle {
  font-weight: 700;
  margin-left: 1em;
  transition: all 0.3s ease-in-out;
}
.hideDiv {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.486);
  top: 3.5em;
  left: 0;
  width: 100vw;
  height: 90.5vh;
  z-index: 998;
}
.navbar .icon {
  font-size: 25px;
  color: var(--black);
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}
.navbar .list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  line-height: 0;
  /* add width */
}
.navbar .list .tb {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
}
.navbar .list .sublist {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  gap: 1em;
}
/* .navbar .list .sublist li .link {
  text-decoration: none;
  color: black;
  font-weight:600;
  font-size: 12px; 
    
} */
.navbar .list .sublist li:hover a {
  color: #f08100;
  font-weight: 800;
}
.navbar .logoutBtn {
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--orange);
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
  padding: 7px 12px;
}
.navbar .logoutBtn:hover {
  background-color: var(--light-orange);
}
.navbar .notification-list {
  position: absolute;
  top: 3.7em;
  bottom: 0em;
  right: 4em;
  height: fit-content;
  max-height: 60vh;
  width: 500px;
  z-index: 888;
  background-color: white;
  border-top: none;
  overflow-y: scroll;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 10px 10px;
  border: solid 2px var(--light-gray);
  border-top: none;
  transition: all 0.5s ease-out;
}

.navbar .notification-list .empty {
  padding: 1em 2.5em;
  font-size: 12px;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
  white-space: initial;
  text-align: center;
}

.navbar .notification-list .notifications .notification {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
  padding: 1.5em;
  border: solid 1px var(--gray3);
  white-space: initial;
  cursor: pointer;
}

.navbar .notification-list .notifications .notification:hover {
  background-color: var(--light-gray);
}
.navbar .notification-list .notifications .notification .message {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.navbar .notification-list .notifications .notification .date {
  font-size: 10px;
  color: var(--gray);
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 0.8em 2em;
  }
}
