.pageName {
  font-weight: 900;
  font-size: 80px;
  text-transform: uppercase;
  color: #000000;
  transition: all 0.5s ease-in-out;
  margin-top: 5em;
}

@media screen and (max-width: 800px) {
  .pageName { 
    font-size: 35px;
  }
}
